.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start/col-end 6;

  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr auto minmax(6rem, min-content) 1fr;
  justify-content: center;
  row-gap: 1.5rem;

  padding: 8rem;
  padding-top: 4rem;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }
  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    column-gap: 1.5rem;
    align-items: center;

    &::before,
    &::after {
      height: 1px;
      display: block;
      background-color: currentColor;
      content: "";
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    justify-items: center;
    img {
      height: 2vw;
      max-height: 3.5rem;
      min-height: 2rem;
      filter: brightness(70%);
    }
  }
}
